<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src='http://wiki.pinknoi.so/staticfiles/jquery-1.11.0.min.js'></script>

    <link href='http://wiki.pinknoi.so/staticfiles/icon.gif' rel="icon" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Andre Castro - Sound Artist - home in the internets. André Castro (PT) is a sound artist living in Rotterdam. His practice involves DIY, exploratory, and nonsense strategies to appropriate found media-objects, such as audio-tracks from a colossal online archive, the whispers and silences of radiophonic discourse, or the stories told in spam emails." />
    <meta name="keywords" content="sound, sound art, noise, installations, software art, FLOSS, appropriation, hacking, free software, open source software, art, media art, new media, post media, free culture, free knowledge, free, open" />

    <!-- FB shit -->
    <meta property="og:title" content="Andre Castro" /> <!-- add page title to here-->
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Andre Castro" />
    <meta property="og:image" content='http://wiki.pinknoi.so/staticfiles/me/desktop_fb.jpg' />

    <title></title>

    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>
  <body>
    <table >
      <tr >
	<td colspan="2" class="heading">André Castro</td>
	<td class="heading" id="sections">
	  <ul class="menu">
	    <!-- CATEGORY INDEX -->
	    <!--GENERATE LIST FROM catmembers.keys() -->
	    <!--
		<li class="menu"><a href={% url 'home' %}>home</a> </li>
	    <li class="menu"><a href={% url 'post' %}>blog</a></li>
	    <li class="menu"><a href={% url 'work' %}>works</a></li>
	    <li class="menu"><a href={% url 'me' %}>me</a></li>
	    <li class="menu"><a href={% url 'neighbors' %}>neighbors</a></li>
	    -->

	  </ul>
	  <br />
	  <img src='http://wiki.pinknoi.so/staticfiles/icon.gif' class="menu" id="ruler" />
	</td>
      </tr>
      <tr>
	<td class="center" id="left"><!-- empty --></td>
	<td class="center" id="middle">
	  <div class="wrap_center" id="content">
	    <h2 id="title"></h2><br />
	    <h4 class="year"></h4>
	    <!-- TEXT -->
	  </div>
	</td>
	<td class="center" id="right">
	  <div class="wrap_right"> 
	    <ul class="catmembers">
	    <!--CATEOGRY MEMBERS -->
	    <!--GENERATE LIST FROM catmembers[category] -->
	    <!-- -->
	    </ul>
	  </div>
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <!-- FOOTER - store content in MW page footer -->
	</td>
	<td></td>
      </tr>
    </table>
  </body>
</html>








