@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

body{
    font-family: 'Droid Sans Mono', monospace;
    font-size:12px;
    background: white;
} 


table {
    width: 100%;
} 

td{
    padding: 10px;
}

td.heading{
    padding: 10px;
}

td.footer{
    padding: 10px;
}

td.center{
}

td.center#left{
    width: 20%;
    vertical-align: top;
}

td.center#middle {
    width: 60%;
    padding-bottom: 20px;
    padding-top: 20px;
    vertical-align: top;

}

div.wrap_center {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
}

div.wrap_right {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}


td.center#right{
    width: 20%;
    vertical-align: top;
    padding-top: 0px;
}


a{
    text-decoration: none;    
    padding-top: 1px;
    padding-bottom: 1px;
/*    padding-left: 5px;
    padding-right: 5px;

*/
}

a.neighbor{
 /*    color:#000!important;*/
}

a:hover{
/*    background-color: #00FFCC; */
    text-decoration: underline;
}

a:visited{
    color: blue;
}

h1{
    font-size:18px;
    font-weight: normal;
    background-color: #00FFCC; 
    display:inline-block;
    }

h2{
    font-size:16px;
    background-color: #00FFCC;
    font-weight: normal;
    display:inline-block;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-top: 1px;

}

h3{
    font-size:15px;
    font-weight: normal;
    background-color:  #00FFCC;
    display:inline-block;
    padding-left: 2px;
    padding-right: 2px;
    
}

h4{
    font-size:14px;
    background-color:  #00FFCC;
    font-weight: normal;
    display:inline-block;
    padding-left: 2px;
    padding-right: 2px;
}

h4.year{
    background-color:  rgb(255, 25, 220);
margin-top:0px;
}

figure{
    display: inline;
}

img{
    width:640px;
    position:relative;
    display: block;
    padding-top:20px;
    padding-bottom:20px;
}

img.me{
    width:260px;
}
img.small{
    width:200px; 
    position:relative;
    display: block;
    padding-top:20px;
    padding-bottom:20px;
}

img.menu#ruler{
    height:3px;
    width:90%;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 10px;
}


video{
    position:relative;
    display: block;
    padding-top:20px;
    padding-bottom:20px;
    width:640px;
}

audio{
    position:relative!important;
    display: block!important;
    padding-top:20px;
    padding-bottom:20px;
}

pre#ascii{
    color: #C4C5C5;
    width: 800px;
    margin-left:auto;
    margin-right:auto;
    font-size: 14px;

}

hr {
    width:640px;
    border-style: solid;
    border-color: rgb(255, 25, 220);
    border-width: 2px 0 0 0;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 0px;
}


ul.index_right{
    list-style-type: none;    
    padding-left: 0;
}

li{
    margin-top:10px;

    list-style-type: none;
}

.menu {
  display:inline-block;
} 

ul.menu{ 
    padding-left: 0px;
}

li.menu{
    padding-left:0px;
    padding-right:10px;

}
  
p.unreserved{
    color:rgb(255, 25, 220);    
    margin-top: 100px;
}


small{
    position: absolute;
    margin-top:-10px;}


div.home{
    height: 500px;
}

pre.neighbors{
    color:rgb(255, 25, 220);    

}


img#blackcat{
    width:300px;
}


iframe{
    display:block;
    padding-top:20px;
    padding-bottom:20px;
    border:0px;
}
